.your_basket {
    padding-top: 60px;
}

.basket_item_image {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.basket_tovar {
    display: flex;
    gap: 16px;
    padding: 6px;
    width: 1000px;
    border-radius: 8px;
    border: 1px solid #2e233f;
    max-width: 100%;
}

.basket_item_inf {
    display: flex;
    width: 900px;
    align-items: center;
    justify-content: space-between;
    
}

.basket_item_name {
    font-size: 24px;
    font-weight: 450;
}

.basket_item_quantity {
    font-size: 17px;
}

.basket_item_price {
    font-size: 17px;
}

.basket_item_price {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.basket_list {
    display: flex;
   
    flex-direction: column;
    gap: 20px;
}

/* SUBTOTAL */
.subtotal {
    padding-top: 36px;
}

.subtotal_inf {
    height: 45px;
    width: 975px;
}

.basket_sbtotal {
    border: none;
}

.promocode_nav {
    font-size: 18px;
}

.promocode_input {
    padding-top: 20px;
    
}

.basket_promocode {
    width: 480px;
    background: none;
    border: 1px solid #2e233f ;
    /* background-color: #2e233f; */
    font-size: 16px;
    color: #ffeefe;
    
    padding-left: 8px;
    height: 50px;
    border-radius: 12px;
    max-width: 100%;
}

.basket_promocode::placeholder {
    
    color: #ffeefe;
}

.apply_promocode {
    width: 115px;
    /* margin-left: 8px; */
    text-align: center;
    border-radius: 12px;
    font-size: 15px;
    border: none;
    font-weight: 550;
    background-color: #ffeefe;
    transition: 0.2s ease;
    height: 48px;
    cursor: pointer;
    
}

.apply_promocode:hover {
    background-color: #2e233f;
    color: #ffeefe;
    transition: 0.2s ease;
}

.order {
    padding-bottom: 20px;
    padding-top:130px ;
    text-align: center;
}

.order_button {
    text-align: center;
    background-color: #2e233f;
    color: #ffeefe;
    font-size: 14px;
    font-weight: 510;
    cursor: pointer;
    width: 200px;
    border: none;
    height: 40px;
    border-radius: 12px;
    transition: 0.2s ease;

}

.order_button:hover {
    background-color: #ffeefe;
    color: #2e233f;
    transition: 0.2s ease;
}

