@import url("./burgermenu.css");
@import url("./form_redistration.css");
@import url("./profile.css");
@import url("./shop.css");
@import url("./basket.css");
@import url("./t-shirts.css");
@import url("./t-shirt-page.css");



/* ШРИФТЫ */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #ffeefe;
    /* background: -webkit-linear-gradient(60deg, #2e2439, #0f0b14); */
    /* background:  -webkit-linear-gradient(55deg, #1d102b,#0c0810); */
    background: -webkit-linear-gradient(180deg, #1d102b, #0c0810);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.url {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logo {
    /* background-color: black; */
    /* border-radius: 60%; */
    margin: 10px 0 10px 10px;

}

.burger_menu {
    display: none;
}

.logo_secton {
    display: flex;
    align-items: center;
    gap: 10px;
}

.log_text {
    font-size: 28px;
    text-align: center;
}

.header_flex {

    display: flex;
    justify-content: space-around;
}

.header_section {
    background: -webkit-linear-gradient(130deg, #2e233f, #0f0716);
    /* background: -webkit-linear-gradient(180deg, #1d102b, #0c0810); */

    /* background-color: #4d2f4d; */

    display: flex;
    width: 100%;
    justify-content: space-around;
}

.navigation_item {
    display: flex;
    padding: 25px;
    gap: 30px;
    margin: 10px 0 10px 10px;

}

.navigation_link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* transition: 0.3s; */

}

.navigation_link:hover {
    border-bottom: 1px solid #0f000eac;
    /* transition: 0.3s; */
}

.hello_section {
    padding-top: 60px;
    padding-bottom: 60px;

}

.hello_text {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.small_hellotext {
    font-size: 20px;
    text-align: center;
    padding-top: 24px;
}

.hello_btm {
    text-align: center;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.btm {
    width: 150px;
    height: 48px;
    background-color: #1e142a;
    color: #ece5fb;
    border-radius: 8px;
    border: 0cap;
    transition: .3s ease;

    text-align: center;
}

@media (hover: hover) {
    .btm:hover {
        background-color: #bb9dde;
        color: #110911;
        transition: .3s ease;
        cursor: pointer;
    }
}

@media (hover: none) {
    .btm:active {
        background-color: #bb9dde;
        color: #110911;
        transition: .1s ease;
        cursor: pointer;
    }
}



.cloth_catalog {
    padding-top: 60px;
    padding-bottom: 60px;
}

.promo_card_block {
    justify-content: center;
    display: flex;
}

.catalog_maintext {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 44px;
}

.catalog_card-img {
    width: 100%;

}

.cataog_card {
    align-items: center;
    width: 100%;
    height: 100%px;
    background-color: #150b19;
    border-radius: 8px;
    /* border: 1px solid #0f000eac; */

}

.section_gap {
    display: flex;
    gap: 30px;
}

.card_image {
    border-radius: 8px;
    width: 100%;
    margin-bottom: 0;
}

.card_name {

    font-weight: bold;
    padding: 19px;
    font-size: 20px;
    text-align: center;
}

.promo_section_text {
    font-size: 24px;
    font-weight: bold;
    text-align: start;
}

.instagram_flex {
    display: flex;
    justify-content: center;
}

.small_promo_text {
    font-size: 16px;
    text-align: start;
    padding-right: 100px;
}

.promo_text {
    padding-top: 250px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mini_cards {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.mini_card {
    border-radius: 8px;
    background-color: #130a1c;
    display: flex;
    width: 520px;
    height: 156px;
    border: 1px solid #1c0b1b52;
}

.img_mini_card {
    border-radius: 3px;
    width: 100px;
    height: 100px;
    margin: 16px 0px 0px 16px;
}

.card_text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;


}

.card_main_text {
    font-size: 20px;
    font-weight: bold;
}

.card_small_text {
    font-size: 19px;
}


.block {
    display: flex;
    gap: 10px;
}

.whyus_section {
    padding-bottom: 30px;
    border-bottom: 1px solid #0f000eac;

}

.pad {
    /* margin-left: 150px; */
}

.inst_post_card {
    margin-top: 80px;
    /* margin-left: 150px; */
    width: 240px;
    height: 375px;
    background-color: #120316cc;
    border-radius: 8px;
    border: 1px solid #0f000eac;
}

.inst_post-card {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
}

.inst_image {
    width: 240px;
    height: 240px;
    border-radius: 8px;
}

.inst_text_block {
    padding: 12px;
}

.main_inst_text {
    font-size: 18px;

}

.inst_profile_block {
    padding-top: 9px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.inst_nick {
    font-size: 14px;
    font-weight: lighter;
}

.inst_logo {
    width: 15px;
    height: 15px;
}

.navig_inst_block {
    padding-top: 8px;
    display: flex;
    gap: 9px;
}

.inst_like_icon {
    width: 15px;
    height: 15px;
}

.min_pad {
    margin-right: 90px;
}

.subscribe_promo {
    border-top: 1px solid #0f000eac;

}

.instagram_section {}

.subscribe_promo {
    padding-bottom: 60px;
    border-bottom: 1px solid #0f000eac;

}

.subs_text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subscrb_man_text {

    padding-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.small_sub_text {
    text-align: center;
    font-size: 22px;
}

.form_name {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}


.first_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input_subs {
    background-color: #e3cfeb;
    padding: 11px;
    width: 270px;
    height: 10px;
    border-radius: 9px;
    border: 1px solid #0f000eac;


}



.text_subs {
    display: flex;
    justify-content: center;
}

.ofsset {
    margin-top: 30px;
}

.subs_form {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}

.slider_section {
    padding: 100px;
    border-bottom: 1px solid #0f000eac;

}

.foooter_section {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 19px;

}

.foot_nav_list {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.foot_nav_link {
    /* color: black; */
    font-size: 15px;


    /* font-weight: bold; */
}


.cards_inst {
    display: flex;
}

.swiper-slide {
    /* height: 100px !important; */
}

.img_seiper {
    width: 100%;
}


.btm_swiper {

    width: 50px;
    height: 100px;
}

.row_sw {
    align-items: center;
}




.why_us_adapt {}