body {
    font-family: Arial, Helvetica, sans-serif;
}

.url {
    text-decoration: none;
    color: black;
}

.logo {
    /* background-color: black; */
    /* border-radius: 60%; */
    margin: 10px 0 10px 10px;

}

.logo_secton {
    display: flex;
    align-items: center;
    gap: 10px;
}

.log_text {
    font-size: 28px;
    text-align: center;
}

.header_flex {
    display: flex;
    justify-content: space-around;
}

.header_section {
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid rgb(224, 223, 223);
}

.navigation_item {
    display: flex;
    padding: 25px;
    gap: 30px;
    margin: 10px 0 10px 10px;

}

.navigation_link {
    text-decoration: none;
    color: black;
    /* transition: 0.3s; */

}

.navigation_link:hover {
    border-bottom: 1px solid black;
    /* transition: 0.3s; */
}

.hello_section {
    padding-top: 60px;
    padding-bottom: 60px;

}

.hello_text {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.small_hellotext {
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding-top: 24px;
}

.hello_btm {
    text-align: center;
    padding-top: 30px;

}

.btm {
    width: 150px;
    height: 48px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 0cap;
    transition: .3s ease;

    text-align: center;
}

.btm:hover {
    background: none;
    border: 1px solid black;
    color: black;
    transition: .3s ease;
    cursor: pointer;
}

.cloth_catalog {
    padding-top: 60px;
    padding-bottom: 60px;
}

.promo_card_block {
    justify-content: center;
    display: flex;
}

.catalog_maintext {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 44px;
}

.cataog_card {
    align-items: center;
    width: 100%;
    height: 100%px;
    background-color: rgba(0, 0, 0, 0.026);
    border-radius: 8px;
    border: 1px solid rgb(224, 223, 223);

}

.section_gap {
    display: flex;
    gap: 30px;
}

.card_image {
    border-radius: 8px;
    width: 100%;
    margin-bottom: 0;
}

.card_name {

    font-weight: bold;
    padding: 19px;
    font-size: 20px;
    text-align: center;
}

.promo_section_text {
    font-size: 38px;
    font-weight: bold;
    text-align: start;
}

.small_promo_text {
    font-size: 16px;
    text-align: start;
    padding-right: 100px;
}

.promo_text {
    padding-top: 250px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mini_cards {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.mini_card {
    border-radius: 8px;
    display: flex;
    width: 520px;
    height: 156px;
    border: 1px solid rgb(224, 223, 223);
}

.img_mini_card {
    border-radius: 3px;
    width: 100px;
    height: 100px;
    margin: 16px 0px 0px 16px;
}

.card_text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;


}

.card_main_text {
    font-size: 20px;
    font-weight: bold;
}

.card_small_text {
    font-size: 19px;
}


.block {
    display: flex;
    gap: 10px;
}

.whyus_section {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(224, 223, 223);

}

.pad {
    margin-left: 150px;
}

.inst_post_card {
    margin-top: 80px;
    /* margin-left: 150px; */
    width: 240px;
    height: 358px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(224, 223, 223);
}

.inst_image {
    width: 240px;
    height: 240px;
    border-radius: 8px;
}

.inst_text_block {
    padding: 12px;
}

.main_inst_text {
    font-size: 18px;

}

.inst_profile_block {
    padding-top: 9px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.inst_nick {
    font-size: 14px;
    font-weight: lighter;
}

.inst_logo {
    width: 15px;
    height: 15px;
}

.navig_inst_block {
    padding-top: 8px;
    display: flex;
    gap: 9px;
}

.inst_like_icon {
    width: 15px;
    height: 15px;
}

.min_pad {
    margin-right: 90px;
}

.subscribe_promo {
    border-top: 1px solid rgb(224, 223, 223);

}

.instagram_section {

}

.subscribe_promo {
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(224, 223, 223);

}

.subs_text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subscrb_man_text {

    padding-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.small_sub_text {
    text-align: center;
    font-size: 22px;
}

.form_name {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.first_side {
    display: flex;
    flex-direction: column;
}

.input_subs {
    padding: 11px;
    width: 600px;
    height: 10px;
    border-radius: 9px;
    border: 1px solid rgb(224, 223, 223);


}

.text_subs {
    display: flex;
    justify-content: center;
}

.ofsset {
    margin-top: 30px;
}

.subs_form {
    padding-top: 30px;
    /* display: flex; */
    gap: 24px;
    flex-direction: column;
}

.slider_section {
    padding: 100px;
    border-bottom: 1px solid rgb(224, 223, 223);

}

.foooter_section {
    padding-top: 20px;
    padding-bottom: 19px;

}

.foot_nav_list {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.foot_nav_link {
    color: black;
    font-size: 15px;

    /* font-weight: bold; */
}


.cards_inst {
    display: flex;
}

.swiper-slide {
    /* height: 100px !important; */
}

.img_seiper {
    width: 100%;
}


.btm_swiper {

    width: 50px;
    height: 100px;
}

.row_sw {
    align-items: center;
}




.why_us_adapt {

}

