/* HOME LAYOUT */

@media (max-width: 576px) {

    .container,
    .container-fluid,
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm {
        width: 90%;
    }

    .inst_post_card {
        height: 430px;
        width: 311px;
    }

    .inst_image {
        width: 311px;
        height: 311px;
    }

    .navigation_item {
        flex-direction: column;
        gap: 3px;
    }

    .logo_secton {
        gap: 0px;
    }

    .mini_card {
        margin-left: -18px;
        width: 90%;

    }

    .promo_section_text {
        text-align: center;
    }

    .card_small_text {
        font-size: 13px;
    }

    .card_main_text {
        font-size: 16px;
    }


    .cataog_card {
    }



    .header_section {
        width: 100%;
    }

    .mini_card {
        margin-left: -15px;
    }

    .whyus_section {
        width: 100%;
    }

    .subscribe_promo {
        width: 100%;
    }

    .foot_nav_list {
        gap: 10px;
    }

    .catalog_maintext {
        font-size: 28px;
    }

    .promo_card_block {
        margin-left: 7px;
        flex-direction: column;
    }

    .small_sub_text {
        font-size: 12px;
    }

    .promo_section_text {
        font-size: 20px;
    }

    .subscrb_man_text {
        font-size: 20px;
    }

    .hello_section {
        padding-bottom: 0px;
    }

    .promo_section_text {
        padding-top: 0px;
    }

    .small_hellotext {
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    .hello_text {
        font-size: 25px;
        text-align: start;
    }

    .small_hellotext {
        font-size: 18px;
        text-align: start;
    }

    .hello_btm {
        text-align: start;
    }

}

@media (max-width: 986px) {
    .burger_menu {
        display: block;
    }

    .hidden {
        display: none;
    }

    .navigation_item {
        padding-top: 66px;
        font-size: 35px;
        flex-direction: column;
        gap: 37px;
    }


}


@media (max-width: 992px) {
    .hello_text {
        font-size: 22px;
    }

    .small_hellotext {
        font-size: 18px;
    }

    .input_subs {
        width: 243px;
    }

    .header_flex {
        display: flex;
        justify-content: space-between;
    }





    .card_main_text {
        font-size: 15px;
    }

    .cloth_catalog {
        padding-bottom: 1px;
    }

    .header_container {
        padding: 20px;
    }



}

@media (max-width: 1200px) {}

@media (max-width: 1400px) {

    .instagram_flex {
        display: block;
    }


    .promo_text {
        align-items: center;
        text-align: center;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 25px;
    }

    .small_promo_text {
        padding-right: 0px;
        text-align: center;
    }

    .mini_cards {
        padding-left: 0px;
        align-items: center;
    }

    .promo_section_text {
        padding-top: 28px;
        font-size: 26px;
        text-align: center;
    }

    .pad {
        margin-right: auto;
        margin-left: auto;
    }

    .inst_post_card {
        margin-top: 0px;
        margin-bottom: 30px;
    }



    .hello_text {
        font-size: px;
    }

    .cataog_card {
        width: 89%;
        margin-bottom: 20px;
    }

    .input_subs {
        /* width: 100px; */
    }

    .subscrb_man_text {
        padding-top: 17px;
        font-size: 28px;

    }

    .small_sub_text {
        font-size: 16px;

    }

    .foot_nav_link {
        font-size: 9px;
    }

    .foot_nav_list {
        gap: 33px;
    }

    .promo_card_block {
        flex-direction: column;
    }

    .catalog_cloth_cards {
        display: flex;
        justify-content: center;
    }
}




/* SHOP LAYOUT */


@media (max-width: 1400px) {
    .reviwes_main_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .map_style {
        padding-top: 60px;
    }
}

@media (max-width: 862px) {
    .card_pics {
        display: none;
    }

    .main_block h1 {
        font-size: 70px;
    }

    .main_block {
        padding-top: 0px;
    }
}



@media (max-width: 700px) {
    .reviwes_block {
        display: flex;
        flex-direction: column;
        /* gap: 30px; */
        gap: 50px;
    }

    .reviwes_main_block h1 {
        text-align: center;
        font-size: 32px;
    }
}




/* SIGN IN LAYOUT */

@media (max-width: 720px) {
    .sign_lay {
        width: 280px
    }

    .form_main_text h1 {
        font-size: 35px;
    }
    .form_main_text div {
        font-size: 15px;
    }
}

@media (max-width: 472px) {
    .form_main_text h1 {
        font-size: 33px;
    }

    .form_main_text div {
        font-size: 14px;
    }

}

@media (max-width: 400px) {
    .form_main_text h1 {
        font-size: 25px;
    }

    .form_main_text div {
        font-size: 12px;
    }

    .sign_lay {
        width: 246px;
    }

}

/* PROFILE ADAPTIVE */

@media (max-width: 609px) {


}

@media (max-width: 581px) {
    .card_inf {
        font-size: 13px;
    }
    
    
.card_text_block span {
    font-size: 16px;
}
}

@media (max-width: 581px) {
    .card_inf {
        font-size: 11px;
    }
}



