
/* t-shirt */


.t-shirt-text {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}


/* HOODIE */



.logo_svg {
    width: 170px;
}

.catalog_cloth_cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.search_barrrr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.searchinp {
    background-color: #f4eaf8;
    margin-top: 6px;
    width: 200px;
    border-radius: 25px;
    border: none;
    padding: 9px;
}

.searchinp::placeholder {
    color: black;
    text-align: start;
    font-size: 15px;
   text-align: start;
    font-weight: 500;
}

@media(max-width:852px) {
.search_barrrr  {
    flex-direction: column;
}
.searchinp  {
    width: 300px;
    padding: 21px;
    max-width: 100%;
}

.searchinp::placeholder {
    font-size: 25px;
    
}



}