.tovar_information_block {
    
    padding-top: 60px;
}

.item_image_tshirt {
    width: 428px;
    height: 604px;
    border-radius: 8px;
}

.tovar_visit {
    display: flex;
    gap: 29px;
}

.item_information_block {

    gap: 17px;
    display: flex;
    flex-direction: column;
}

.add-basket_tovar_block h1 {

    font-size: 20px;
}

.add-basket_tovar_block {
   
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    border-radius: 16px;
  
}

.add-basket_tovar_block span {
   font-size: 24px;
    color: aliceblue;
}

.item_basket_btm {
    width: 300px;
    height: 50px;
    border: 0px;
    font-size: 16px;
    color: aliceblue;
    border-radius: 12px;
    background-color: #1e142a;
}